body {
    background-image: url('1.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    filter: brightness(135%);
    min-height: 100vh;
    overflow: hidden;    
    display: flex;              
    align-items: center;
}


.pages {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    z-index: 100;
}

.page {
    background-color: rgba(16, 32, 85, 0.85);
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 16px;
    border: 2px solid rgba(49, 116, 161, 0.3);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    backdrop-filter: blur(2px);
}

.page:hover {
    background-color: rgba(102, 63, 122, 0.9);
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.8);
    transform: translateY(-5px);
}



.skills-container {
    margin-top: 80px;
    padding: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(16, 32, 85, 0.20);
    border-radius: 25px;
    border: 2px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.title {
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: "Permanent Marker", cursive;
    text-shadow: 2px 2px 6px rgba(0, 0, 0,0.5);
    margin-bottom: 50px;
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    padding: 10px;
}

.skill-card {
    background: rgba(16, 32, 85, 0.35);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.15);
    backdrop-filter: blur(6px);
    transition: 0.3s ease;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
}

.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 18px rgba(72, 206, 255, 0.7);
}

.skill-card h2 {
    color: white;
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 32px;
    margin-bottom: 15px;
}


.bar {
    width: 100%;
    height: 14px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    overflow: hidden;
}

.bar span {
    display: block;
    height: 100%;
    background: linear-gradient(90deg, #4bb9ff, #7034ff);
    box-shadow: 0 0 10px rgba(85, 222, 255, 0.8);
}


@media (max-width: 768px) {
    .title {
        font-size: 45px;
    }

    .skills-container {
        width: 90%;
        padding: 25px;
    }
}
